NEXT_PUBLIC_SITE_URL=https://maliktractorhub.com
NEXT_PUBLIC_PHONE_PRIMARY=9999247461
NEXT_PUBLIC_PHONE_SECONDARY=8826617461
NEXT_PUBLIC_WHATSAPP_NUMBER=919999247461
NEXT_PUBLIC_EMAIL=mohdnoordin7461@gmail.com
